
:root {
    --primary-text-color:  #121212;
    --white-color: #ffffff;
    --button-border-color:  #EDEDED;
    --orange-color:  #FF5634;
    --hero-background: #E5E5E5;
    --grey-color:  #656565;
    --border-color:  #CACACA;
    --client-background:  #FAFAFA;
    --client-square: rgba(238, 248, 255, 1);
    --black-color:rgba(18, 18, 18, 1);
}
section {
   width: 100%;
    margin: 0px auto;
}
header {
    max-width: 1440px;
    margin: 0px auto;
}
body {
    font-family: "Roboto", sans-serif;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
p {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}