.section-instruction {
    padding: 200px 0px;
}
.instruction-text {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.0800000429153442px;
    line-height: 20px;
    text-align: center;    
    color: var(--orange-color);
    margin-bottom: 7px;
}
.instruction-main-title {
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 0em;
    line-height: 54px;
    text-align: center;
    margin-bottom: 22px;
}
.instruction-main-text {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 30px;
    text-align: center;
    margin-bottom: 56px;
    color: var(--grey-color);
}
.instruction-text-container {
    position: relative;
}
.instruction-span {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 30px;  
    color: var(--grey-color);
    position: absolute;
    top: 70%;
    left: 63%;
}
.instruction-list {
    display: flex;
    flex-wrap: wrap;
    & .item {
        margin-right: 90px;
        margin-bottom: 85px;
    }
    & .item:nth-child(3n + 3) {
        margin-right: 0px;
    }
    & .item:nth-child(n+3) {
        margin-bottom: 0px;
    }
    & .link {
        display: flex;
        justify-content: center;
        max-width: 344px;
        height: auto;
        margin: 0px auto;
    }
    & .icon {
        width: 105px;
        height: 90px;
    }
    & .title {
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 0em;
        line-height: 40px;
        text-align: center;   
        margin: 24px 0px 14px 0px;    
    }
    & .text {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0em;
        line-height: 30px;
        text-align: center;     
        color: var(--grey-color);   
        max-width: 344px;
    }
}
.instruction-button-container {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}