











.header-logo {
font-family: Raleway;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;

font-family: Oleo Script;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.03em;
text-align: left;

}